POSTGRES_DB=nucleo
POSTGRES_USER=nucleo
POSTGRES_PASSWORD=nucleo_dev_password
POSTGRES_PORT=5435

DB_URL=jdbc:postgresql://localhost:5435/nucleo
DB_USERNAME=nucleo
DB_PASSWORD=nucleo_dev_password

SERVER_PORT=8080