POSTGRES_DB=nucleo
POSTGRES_USER=nucleo
POSTGRES_PASSWORD=nucleo_dev_password
POSTGRES_PORT=5435

DB_URL=jdbc:postgresql://localhost:5435/nucleo
DB_USERNAME=nucleo
DB_PASSWORD=nucleo_dev_password

SERVER_PORT=8080

JWT_SECRET=replace_with_a_secure_random_secret_of_at_least_32_bytes

CORS_ALLOWED_ORIGINS=http://localhost:3000